*{margin: 0; padding: 0;}

.nd_child {
    padding-bottom: 50px;
}

.image_center img {
    margin-top: -15%;
}

.col-sm-4.content2 {
    text-align: left;
}

.col-sm-4.content1 {
    text-align: right;
    /* line-height: 28px; */
}

h1.title {
    padding-top: 80px;
    padding-bottom: 50px;
}

a.nuthire.btn.btn-primary {
    background-color: black;
    width: 20%;
    border-color: black;
}

.khoitt img {
    border-radius: 50%;
    width: 116px;
    height: 116px;
    /* padding-bottom: 20px; */
    margin-bottom: 20px;
}

.khoitt1 {
    width: 100%;
    height: 100%;
    background: #E4555B;
    position: relative;
}

.khoitt1:before {
    content: '';
    position: absolute;
    left: 0;
    background-color: #ca6363;
    top: 0;
    width: 50%;
    height: 100%;
    z-index: 1;
}

body,html {
    width: 100%;
    height: 100%;
} 
div#collapsibleNavId {
    margin-left: 20%;
}
li.nav-item {
    padding: 0px 13px;
}

li.nav-item {
    padding: 0px 10px;
    text-transform: uppercase;
    font-weight: 500;
    color: black;
}
.khoitt
{
    z-index: 2;
    position: relative;
    padding-top: 150px;
}
.khoitt.anh img{
    width: 100px;
    height: 100px;
}
.color
{
    color: #E7525A;
}

@media (max-width:567px){
    
    li.nav-item{
        font-size: 12px;
        padding: 0;

    }
    a.nuthire.btn.btn-primary {
       width: 50%;
    }
    .khoitt
    {
        padding: 20px;
    }
}